.app {
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
}

.appgrid {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-items: center;
}

.gridchild {
  grid-auto-flow: row;
  height: 50px;
  width: 50px;
}